# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# Pytest
.pytest_cache/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db